@charset 'utf-8';
@import 'reset.scss';
@import 'sub_page.scss';
@import 'community.scss';
@import 'department.scss';
@import 'gallery.scss';
@import 'join.scss';
@import 'location.scss';
@import 'youtube.scss';


// header
#header {
    width:100%;border-bottom:1px solid #ddd;

    .inner {
        width:1180px;height:120px;margin:0 auto;position:relative;
        > h1 {
            position:absolute;left:0;bottom:15px;
            > a {
                font:bold 24px/1 'arial';color:#444;
              }
        }
        
        .menuWeb {
            // gnb 영역
            #gnb {
                position:absolute;right:0;bottom:0;
                li {
                    float:left;
                    a {
                        display:block;padding:14px 40px;font:bold 14px/1 'arial';color:#777;
                        &:hover {
                            background:#555;color:#fff;
                          }
                      }
                  }
              }
            
            //utill 영역
            .util {
                position:absolute;top:20px;right:20px;
                li {
                    float:left;margin-left:20px;
                    a {
                        font:12px/1 'arial';color:#999;
                      }
                  }
            }

        }

        // Mobile 영역
        // 햄버거 메뉴 버튼
        .btnCall {
            position:absolute;right:30px;top:50%;transform:translateY(-50%);width:20px;height:20px;display:none;
            &::before {
                content:"";
                display:block;width:100%;height:2px;background:#000;position:absolute;left:0;top:0;transition:top .5s 0s/* 딜레이X */, transform .5s .5s/* top이 움직이고 움직여야 해서 .5 딜레이 */
            }
            &::after {
                content:"";
                display:block;width:100%;height:2px;background:#000;position:absolute;left:0;bottom:0;
                transition:bottom .5s 0s, transform .5s .5s;
            }
            span {
                display:block;width:100%;height:2px;background:#000;position:absolute;left:0;top:50%;margin-top:-1px;
                transition:1s;
                text-indent:-9999px
            }
            &.on {
                &::before {
                    top:50%;margin-top:-1px;transform:rotate(45deg);
                }
                &::after {
                    bottom:50%;margin-bottom:-1px;transform:rotate(-45deg);
                }
                span {
                    transform:translateX(100%);opacity:0;
                }
            }
        }

        //모바일 메뉴
        .menuMo {
            width:270px;height:100vh;background:#333;
            position:fixed;top:0;left:-270px;z-index:10;
            padding:35px 30px;
            transition:.5s;
            &.on {
                left:0;
            }
            h1 {
                padding-bottom:30px;border-bottom:1px solid #666;
                a {
                    display:block;font:bold 24px/1 'arial';color:#fff;
                    text-align:center;
                }
                span {
                    font-size:12px;color:#aaa;
                }
            }
            #gnbMo {
                li {
                    a {
                        display:block;width:100%;padding:20px 0;border-bottom:1px solid #444;
                        font:bold 14px/1 'arial';color:#888;text-align:center;
                    }
                }
            }
        }
        
    }
}

//visual
#visual {
    width:100%;height:calc(100vh - 121px);overflow:hidden;background:#000;position:relative;
    video {
        width:100%;height:100%;object-fit:cover;opacity:.4;
    }
    .inner {
        width:1180px;margin:0 auto;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
        h1 {
            font:normal 120px/1 'arial';color:#fff;margin-bottom:20px;
        }
        p {
            font:16px/1.4 'arial';color:#888;margin-bottom:80px;
        }
        a {
            display:block;width:400px;height:30px;border:1px solid #bbb;
            font:bold 12px/30px 'arial';color:#fff;text-align:center;
            &:hover {
                background:#fff;color:#555;
            }
        }
    }
}

//news
#news {
    width:100%;padding:200px 0;
    .inner {
        width:1180px;margin:0 auto;position:relative;
        h1 {
            font:bold 24px/1 'arial';color:#555;text-align:center;margin-bottom:50px;
        }
        .wrap {
            width:100%;
            article {
                float:left;width:280px;margin-right:10px;
                &:last-of-type {
                    margin-right:0;
                }
                .pic {
                    width:100%;height:120px;overflow:hidden;position:relative;transition:.5s;overflow:hidden;
                    img {
                        width:100%;height:100%;object-fit:cover;transition:.5s;
                        &:hover {
                            transform:scale(1.2);
                        }
                    }
                    &::after {
                        content:"";
                        display:block;background:rgba(255,255,255,.6);width:100%;height:100%;position:absolute;left:0;top:0;transition:.5s;opacity:.5;
                    }
                }
                h2 {
                    margin-bottom:10px;
                    a {
                        font:bold 16px/1 'arial';color:#555;
                    }
                }
                p {
                    font:14px/1.3 'arial';color:#777
                }
                &:nth-of-type(1) .pic:hover::after {
                    top:0;left:-280px;
                }
                &:nth-of-type(2) .pic:hover::after {
                    top:-120px;left:0;
                }
                &:nth-of-type(3) .pic:hover::after {
                    top:0;left:280px;
                }
                &:nth-of-type(4) .pic:hover::after {
                    top:120px;left:0;
                }
            }
        }
    }
}

//brand
#brand {
    width:100%;padding:200px 0;background:#eee;
    .inner {
        width:1180px;margin:0 auto;position:relative;
        h1 {
            font:bold 24px/1 'arial';color:#555;text-align:center;margin-bottom:50px;
        }
        .wrap {
            width:100%;
            article {
                &:nth-of-type(1) {
                    width:380px;height:620px;background:#444;
                    float:left;margin-right:20px;
                    padding:170px 50px 0;text-align:center;
                    i {
                        font-size:100px;color:#fff;margin-bottom:20px;
                    }
                    h2 {
                        font:bold 20px/1 'arial';color:#fff;margin-bottom:30px;
                    }
                    p {
                        font:14px/1.3 'arial';color:#999;margin-bottom:30px;
                    }
                    a {
                        display:block;width:150px;height:30px;margin:0 auto;font:12px/30px 'arial';color:#ddd;border:1px solid #bbb;
                    }
                }
                &:nth-of-type(2) {
                    width:380px;height:300px;float:left;margin-right:20px;
                    img {
                        width:100%;height:100%;object-fit:cover;
                    }
                }
                &:nth-of-type(3) {
                    width:380px;height:300px;float:left;
                    img {
                        width:100%;height:100%;object-fit:cover;
                    }
                }
                &:nth-of-type(4) {
                    width:780px;height:300px;float:left;margin-top:20px;position:relative;
                    img {
                        width:100%;height:100%;object-fit:cover;
                    }
                    &:after {
                        content:"";
                        position:absolute;left:0;top:0;width:100%;height:100%;
                        background:linear-gradient(45deg, rgba(255,192,203,.4), rgba(173,216,240,.4));opacity:0;transition:.5s;
                    }
                    &:hover {
                        &::after {
                            opacity:1;
                        }
                    }
                }
            }
        }
    }
}

//banner
#banner {
    width:100%;padding:150px 0;
    background:url(../img/banner.jpg) no-repeat center/cover fixed;
    .inner {
        width:1180px;margin:0 auto;
        h1 {
            font:bold 30px/1 'arial';color:#fff;text-align:center;margin-bottom:30px;
        }
        p {
            font:16px/1.3 'arial';color:#bbb;text-align:center;
        }
    }
}

//comments
#comments {
    width:100%;padding:150px 0;background:#ddd;
    .inner {
        width:1180px;margin:0 auto;
        h1 {
            font:bold 24px/1 'arial';color:#555;text-align:center;margin-bottom:50px;
        }
        ul {
            width:100%;
            li {
                width:100%;margin-bottom:20px;padding:15px 20px;border:1px solid #111;transition:.5s;
                &::after {
                    content:"";display:block;clear:both;
                }
                a {
                    font:12px/1 'arial';color:#555;float:left;transition:.5s;
                }
                span {
                    font:12px/1 'arial';color:#888;float:right;transition:.5s;
                }
                &:hover {
                    background:#444;
                    a {
                        color:#fff
                    }
                    span {
                        color:#fff
                    }
                }
            }
        }
    }
}

//footer
#footer {
    width:100%;padding:100px 0;background:#444;
    .inner {
        width:1180px;margin:0 auto;
        &::after {
            content:"";
            display:block;
            clear:both;
        }
        h1 {
            font:bold 24px/1 'arial';color:#666;float:left;
        }
        ul {
            float:right;
            li {
                float:left;margin-left:20px;
                a {
                    font:bold 14px/1 'arial';color:#666
                }
            }
        }
        address {
            float:left;width:100%;font:14px/1.3 'arial';color:#777;margin-bottom:20px;
            margin-top:20px;padding-top:20px;border-top:1px solid #888;
        }
        p {
            float:left;width:100%;font:12px/1 'arial';color:#777
        }
    }
}

// table구간
@media screen and (max-width:1179px) {
    //header
    #header {
        .inner {
            width:100%;height:100px;
            h1 {
                left:20px
            }
            .menuWeb {
                display:none;
            }
            .btnCall {
                display:block;
            }
        }
    }

   //visual
   #visual {
        height:calc(100vh - 101px);
        background:url(../img/visual1.jpg) no-repeat center/cover;
        video {
            display:none;
        }
        .inner {
            width:100%;padding:0 30px;
            h1 {
                font:normal 14vmin/1 'arial'
            }
            a {
                width:100%;
            }
        }
   }

   //news
   #news {
    padding:100px 30px;
    .inner {
        width:100%;
        .wrap {
            article {
                width:49%;margin-right:2%;margin-bottom:60px;
                &:nth-of-type(2n) {
                    margin-right:0;
                }
                .pic {
                    height:20vmax;
                }
            }
        }
    }
   }

   //brand
   #brand {
    padding:100px 30px;
        .inner {
            width:100%;
            .wrap {
                article {
                    &:nth-of-type(1) {
                        width:49%;margin-right:2%;
                    }
                    &:nth-of-type(2) {
                        width:49%;margin-right:0;margin-bottom:20px
                    }
                    &:nth-of-type(3) {
                        width:49%;margin-right:0;
                    }
                    &:nth-of-type(4) {
                        width:100%;
                    }
                }
            }
        }
   }

   //banner
   #banner {
        padding:150px 30px;
        .inner {
            width:100%;
        }
   }

   //comments
   #comments {
        padding:100px 30px;
        .inner {
            width:100%;
        }
   }

   //footer
   #footer {
        padding:80px 30px;
        .inner {
            width:100%;
        }
  }

}


//mobile 구간 
@media screen and (max-width:539px) {
    //header

    //visual
    #visual {
        .inner {
            h1 {
                font:normal 12vmin/1 'arial'; 
            }
        }
    }

    //news
    #news {
        .inner {
            .wrap {
                article {
                    width:100%;
                    margin-right:0;
                    .pic {
                        height:30vmax;
                    }
                }
            }
        }
    }

    //brand
    //첫번째 article
    #brand {
        .inner {
            .wrap {
                article {
                    &:nth-of-type(1) {
                        width:100%;height:400px;padding:50px;margin-right:0;margin-bottom:20px;
                    }
                    &:nth-of-type(2) {
                        width:100%;
                    }
                    &:nth-of-type(3) {
                        width:100%;
                    }
                }
            }
        }
    }

     //banner

     //comments

     //footer
     #footer {
        .inner {
            h1 {
                margin-bottom:20px;
            }
            ul {
                width:100%;
                li {
                    margin:5px;
                }
            }
        }
     }



}